@media (min-width:1900px) and (max-width:2099px){
    body{
        background-image: url(img/366341.jpg);
        background-size: cover;
        
    }

    .corger{
        position: absolute;
        left: 600px;
        top:50px;
    }
}
@media (min-width:2100px) and (max-width:2699px){
    body{
        background-image: url(img/366341.jpg);
        background-size: cover;
        
    }

    .corger{
        position: absolute;
        left: 800px;
        top:50px;
    }
}
@media (min-width:2700px) and (max-width:2999px){
    body{
        background-image: url(img/366341.jpg);
        background-size: cover;
        
    }

    .corger{
        position: absolute;
        left: 950px;
        top:50px;
    }
}
@media (min-width:3000px){
    body{
        background-image: url(img/366341.jpg);
        background-size: cover;
        
    }

    .corger{
        position: absolute;
        left: 1200px;
        top:50px;
    }
}